[2016-10-11 14:50] salman-bhai opened #4 "Python Implementation of Sorting Algorithms"
Ground rules:

1. Whoever claims the Issue first, **should** send a Pull Request within 24 hours else it'll be assigned to another claimant and further Pull Requests regarding that issue will not be entertained.
2. Pull Requests sent without **claiming** and referencing the Issue will not be entertained.
3. Make sure your Pull Requests have just one commit in them. **Squash** multiple commits into

[2016-10-11 15:51] rahul-kumi commented on #4
I will take up this!

[2016-10-11 15:52] rahul-kumi commented on #4
dude self assigning...

[2016-10-11 22:38] mridulg commented on #4
Hi, could you give specific details regarding what you require?

[2016-10-12 06:16] salman-bhai opened #6 "Add CONTRIBUTING.MD (First-Timer-Issue)"
Create a `CONTRIBUTING.md` file

[2016-10-12 06:28] aditya5558 commented on #6
claimed

[2016-10-12 06:29] nayangupta824 commented on #6
made a PR

[2016-10-12 06:40] #6 closed

[2016-10-12 06:41] salman-bhai opened #9 "Java Implementation of Sorting Algorithms"
Ground rules:

1. Whoever claims the Issue first, **should** send a Pull Request within 24 hours else it'll be assigned to another claimant and further Pull Requests regarding that issue will not be entertained.
2. Pull Requests sent without **claiming** and referencing the Issue will not be entertained.
3. Make sure your Pull Requests have just one commit in them. **Squash** multiple commits into

[2016-10-12 06:56] Nitish18 commented on #9
@salman-bhai , I am working on this issue.

[2016-10-12 07:17] aedorado opened #11 "Array not sorted in binary_search.cpp"
Ground rules:

1. Whoever claims the Issue first, **should** send a Pull Request within 24 hours else it'll be assigned to another claimant and further Pull Requests regarding that issue will not be entertained.
2. Pull Requests sent without **claiming** and referencing the Issue will not be entertained.
3. Make sure your Pull Requests have just one commit in them. **Squash** multiple commits into

[2016-10-14 16:52] TuhinKundu commented on #4
Please specify programs do you want to be implemented into python?

[2016-10-14 16:53] TuhinKundu commented on #11
Do you want binary-search.cpp to be corrected?

[2016-10-16 11:51] AnanyaSharma22 commented on #11
`#include<iostream>
using namespace.std;
void main()
{
	clrscr();
	int n, i, arr[50], search, first, last, middle;
	cout<<"Enter the elements in sorted order:";
	cin>>n;
	cout<<"Enter "<<n<<" number :";
	for (i=0; i<n; i++)
	{
		cin>>arr[i];
	}
	cout<<"Enter a number to find :";
	cin>>search;
	first = 0;
	last = n-1;
	middle = (first+last)/2;
	while (first <= last)
	{
		if(arr[middle] < search)

[2016-10-17 18:23] salman-bhai commented on #11
Hey @AnanyaSharma22 kindly send a PR instead of commenting on the code here.
@TuhinKundu yes, kindly send a PR referencing this issue.
@aedorado Thanks for pointing it out! :+1:

[2016-10-17 19:44] salman-bhai opened #14 "Python Implementation of Data Structures"
Ground rules:

1. Whoever claims the Issue first, **should** send a Pull Request within 24 hours else it'll be assigned to another claimant and further Pull Requests regarding that issue will not be entertained.
2. Pull Requests sent without **claiming** and referencing the Issue will not be entertained.
3. Make sure your Pull Requests have just one commit in them. **Squash** multiple commits into

[2016-10-17 19:47] salman-bhai opened #15 "Java Implementation of Data Structures"
Ground rules:

1. Whoever claims the Issue first, **should** send a Pull Request within 24 hours else it'll be assigned to another claimant and further Pull Requests regarding that issue will not be entertained.
2. Pull Requests sent without **claiming** and referencing the Issue will not be entertained.
3. Make sure your Pull Requests have just one commit in them. **Squash** multiple commits into

[2016-10-17 19:47] salman-bhai opened #16 "C implementation of Graph Algorithms"
Ground rules:

1. Whoever claims the Issue first, **should** send a Pull Request within 24 hours else it'll be assigned to another claimant and further Pull Requests regarding that issue will not be entertained.
2. Pull Requests sent without **claiming** and referencing the Issue will not be entertained.
3. Make sure your Pull Requests have just one commit in them. **Squash** multiple commits into

[2016-10-17 19:48] salman-bhai opened #17 "Java Implementation of Graph Algorithms"
Ground rules:

1. Whoever claims the Issue first, **should** send a Pull Request within 24 hours else it'll be assigned to another claimant and further Pull Requests regarding that issue will not be entertained.
2. Pull Requests sent without **claiming** and referencing the Issue will not be entertained.
3. Make sure your Pull Requests have just one commit in them. **Squash** multiple commits into

[2016-10-17 19:48] salman-bhai opened #18 "Python implementation of Graph Algorithms"
Ground rules:

1. Whoever claims the Issue first, **should** send a Pull Request within 24 hours else it'll be assigned to another claimant and further Pull Requests regarding that issue will not be entertained.
2. Pull Requests sent without **claiming** and referencing the Issue will not be entertained.
3. Make sure your Pull Requests have just one commit in them. **Squash** multiple commits into

[2016-10-18 03:21] PassaEP commented on #14
CLAIM! :) I would love to work on this!

[2016-10-18 03:55] richa-coder commented on #16
u need all the C graph algorithms or only the standard ones(bfs,dfs etc)?

[2016-10-18 04:16] richa-coder commented on #4
I want to start on this.

[2016-10-18 04:27] richa-coder commented on #14
Claim

[2016-10-18 07:14] salman-bhai commented on #16
Hey, check the description.

[2016-10-18 07:16] salman-bhai commented on #14
Kindly specify which Data Structures you'll be working on! @PassaEP and @richa-coder . Kindly do not claim Data Structures which are already claimed by other people.

[2016-10-18 07:16] salman-bhai commented on #4
Go ahead. Make sure you write the Algorithms in python 2.7

[2016-10-18 08:12] TuhinKundu commented on #11
Working on it

[2016-10-18 08:14] TuhinKundu commented on #11
See PR has been merged regarding this. Is this issue still open?

[2016-10-18 08:15] TuhinKundu commented on #4
Working on Quick sort in python.

[2016-10-18 09:05] salman-bhai commented on #11
The Pull Request has been sent, @TuhinKundu

[2016-10-18 09:05] #11 closed

[2016-10-18 09:09] salman-bhai opened #20 "C Implementation of Search Algorithms"
Ground rules:

1. Whoever claims the Issue first, **should** send a Pull Request within 24 hours else it'll be assigned to another claimant and further Pull Requests regarding that issue will not be entertained.
2. Pull Requests sent without **claiming** and referencing the Issue will not be entertained.
3. Make sure your Pull Requests have just one commit in them. **Squash** multiple commits into

[2016-10-18 09:09] salman-bhai opened #21 "Java Implementation of Search Algorithms"
Ground rules:

1. Whoever claims the Issue first, **should** send a Pull Request within 24 hours else it'll be assigned to another claimant and further Pull Requests regarding that issue will not be entertained.
2. Pull Requests sent without **claiming** and referencing the Issue will not be entertained.
3. Make sure your Pull Requests have just one commit in them. **Squash** multiple commits into

[2016-10-18 09:09] salman-bhai opened #22 "Python Implementation of Search Algorithms"
Ground rules:

1. Whoever claims the Issue first, **should** send a Pull Request within 24 hours else it'll be assigned to another claimant and further Pull Requests regarding that issue will not be entertained.
2. Pull Requests sent without **claiming** and referencing the Issue will not be entertained.
3. Make sure your Pull Requests have just one commit in them. **Squash** multiple commits into

[2016-10-18 09:12] manishrw commented on #20
I would like to take it up!

[2016-10-18 09:16] pranay-thl commented on #20
I would like to take binary search.

[2016-10-18 09:18] salman-bhai commented on #20
@manishrw Which one?
@pranay-thl Go ahead submit a Pull Request and reference this Issue while submitting your Pull Request! Let me know if you have any doubts!

[2016-10-18 09:19] goyaljai commented on #22
i would like to take python's

[2016-10-18 09:19] salman-bhai commented on #22
Which Algorithm, @goyaljai

[2016-10-18 09:21] goyaljai commented on #22
both

[2016-10-18 09:21] rahul26081995 commented on #21
I will like to take binary search.

[2016-10-18 09:22] goyaljai commented on #22
or binary search

[2016-10-18 09:26] salman-bhai commented on #22
First submit Binary Search. If no one claims it by then, take up Linear Search as well.

[2016-10-18 09:26] salman-bhai commented on #21
Go ahead! @rahul26081995

[2016-10-18 09:33] zorroblue commented on #22
I want to do linear search. Can I take it up?
@salman-bhai

[2016-10-18 09:38] manishrw commented on #20
@salman-bhai Both of them.

[2016-10-18 09:56] hiteshgarg14 commented on #21
I will like to take linear search.

[2016-10-18 10:28] Kietzmann commented on #17
May I implement BFS and DFS?

[2016-10-18 11:02] adriaferre commented on #22
I would like to participate too.

[2016-10-18 12:45] adriaferre commented on #22
I've just pull-requested the binarySearch. I do it recursive.

[2016-10-18 13:51] salman-bhai commented on #21
Well done guys.

[2016-10-18 13:51] #21 closed

[2016-10-18 14:21] #20 closed

[2016-10-18 14:23] alexkiura commented on #22
Can i take up the Linear search @salman-bhai ?

[2016-10-18 14:30] salman-bhai commented on #22
@alexkiura Everything is already done!

[2016-10-18 14:30] #22 closed

[2016-10-18 14:57] alexkiura commented on #14
I'd like to Claim implementing stacks @salman-bhai

[2016-10-18 15:02] richa-coder commented on #14
i will implement the others then.U will get all the codes by tomorrow.

[image: --]

Richa Singh
[image: https://]about.me/richa-singh
<https://about.me/richa-singh?promo=email_sig&utm_source=email_sig&utm_medium=email_sig&utm_campaign=external_links>

On 18 October 2016 at 20:27, Alex Kiura <notifications@github.com> wrote:

[2016-10-18 15:09] adriaferre commented on #4
I would like to do the merge sort. Thank you.

[2016-10-18 15:09] salman-bhai commented on #4
Cool go ahead @TuhinKundu @adriaferre

[2016-10-18 15:16] adriaferre commented on #18
I would like to do the DFS. Thank you.

[2016-10-18 23:28] AntPeixe commented on #15
Hi, I would implement the stacks, queues and linked lists but I think you already added them to the code.

Tell me if you are still interested in those.

[2016-10-19 11:05] Kietzmann commented on #17
Are you still interested in my help?

[2016-10-19 11:23] salman-bhai commented on #17
@Kietzmann Go ahead! It's Open-Source! Everyone is welcome.

[2016-10-20 09:48] OscarOM11 commented on #16
I would like to do the DFS algorithm. Thank you!

[2016-10-20 10:05] salman-bhai commented on #16
Go ahead!

[2016-10-20 11:15] adriaferre commented on #14
W would like ot claim implmenting queue @salman-bhai . Thank you

[2016-10-20 12:44] salman-bhai commented on #14
Go ahead, @adriaferre
@richa-coder Kindly claim an the Issue again if you wish to push code!

[2016-10-20 18:32] jainayush975 commented on #14
I'd like to Claim implementing prims algorithm @salman-bhai

[2016-10-21 05:13] salman-bhai commented on #14
@jainayush975 Just check it hasn't been done or not before sending your PR.

[2016-10-21 12:30] jainayush975 commented on #14
I claim to implement LIS and LCS @salman-bhai

[2016-10-22 05:51] zorroblue commented on #9
I want to do merge sort @salman-bhai

[2016-10-22 18:13] anumpatel commented on #9
@salman-bhai  I will work on Quick Sort if anybody hasn't started it.

[2016-10-23 07:21] salman-bhai commented on #9
@anumpatel Kindly check he contents of the repository before pushing your code! Thanks again!

[2016-10-23 18:07] salman-bhai opened #42 "Add Breadth-First-Search in the following languages"
The following Algorithm needs to be implemented in the following languages.
- [x] C
- [x] C++
- [x] Python
- [x] Java

Ground rules:

1. Whoever claims the Issue first, **should** send a Pull Request within 24 hours else it'll be assigned to another claimant and further Pull Requests regarding that issue will not be entertained.
2. Pull Requests sent without **claiming** and referencing the Issue

[2016-10-23 18:08] salman-bhai opened #43 "Add Depth-First-Search in the following languages"
The following Algorithm needs to be implemented in the following languages.
- [x] C
- [x] C++
- [x] Python
- [x] Java

Ground rules:

1. Whoever claims the Issue first, **should** send a Pull Request within 24 hours else it'll be assigned to another claimant and further Pull Requests regarding that issue will not be entertained.
2. Pull Requests sent without **claiming** and referencing the Issue

[2016-10-23 18:09] salman-bhai opened #44 "Add Dijkstra's Algorithm in the following Languages"
The following Algorithm needs to be implemented in the following languages.
- [x] C
- [x] C++
- [x] Python
- [x] Java

Ground rules:

1. Whoever claims the Issue first, **should** send a Pull Request within 24 hours else it'll be assigned to another claimant and further Pull Requests regarding that issue will not be entertained.
2. Pull Requests sent without **claiming** and referencing the Issue

[2016-10-23 18:09] salman-bhai opened #45 "Add Floyd-Warshall's Algorithm in the following languages"
The following Algorithm needs to be implemented in the following languages.
- [x] C
- [x] C++
- [x] Python
- [x] Java

Ground rules:
1. Whoever claims the Issue first, **should** send a Pull Request within 24 hours else it'll be assigned to another claimant and further Pull Requests regarding that issue will not be entertained.
2. Pull Requests sent without **claiming** and referencing the Issue w

[2016-10-23 18:10] salman-bhai opened #46 "Add Kruskal's Algorithm in the following language"
The following Algorithm needs to be implemented in the following languages.
- [x] C
- [x] C++
- [x] Python
- [x] Java

Ground rules:

1. Whoever claims the Issue first, **should** send a Pull Request within 24 hours else it'll be assigned to another claimant and further Pull Requests regarding that issue will not be entertained.
2. Pull Requests sent without **claiming** and referencing the Issue

[2016-10-23 18:11] salman-bhai opened #47 "Add Prim's Algorithm in the following languages"
The following Algorithm needs to be implemented in the following languages.
- [x] C
- [x] C++
- [x] Python
- [x] Java

Ground rules:
1. Whoever claims the Issue first, **should** send a Pull Request within 24 hours else it'll be assigned to another claimant and further Pull Requests regarding that issue will not be entertained.
2. Pull Requests sent without **claiming** and referencing the Issue w

[2016-10-23 18:12] shrawnz commented on #44
Claiming C++

[2016-10-23 18:13] salman-bhai opened #48 "Add Bubble-Sort for the following languages"
The following Algorithm needs to be implemented in the following languages.
- [x] C
- [x] C++
- [x] Python
- [x] Java

Ground rules:

1. Whoever claims the Issue first, **should** send a Pull Request within 24 hours else it'll be assigned to another claimant and further Pull Requests regarding that issue will not be entertained.
2. Pull Requests sent without **claiming** and referencing the Issue

[2016-10-23 18:13] salman-bhai opened #49 "Add Bucket-Sort for the following languages"
The following Algorithm needs to be implemented in the following languages.
- [ ] C
- [ ] C++
- [ ] Python
- [ ] Java

Ground rules:

1. Whoever claims the Issue first, **should** send a Pull Request within 24 hours else it'll be assigned to another claimant and further Pull Requests regarding that issue will not be entertained.
2. Pull Requests sent without **claiming** and referencing the Issue

[2016-10-23 18:14] salman-bhai opened #50 "Add Heap-Sort for the following languages"
The following Algorithm needs to be implemented in the following languages.
- [x] C
- [x] C++
- [x] Python
- [x] Java

Ground rules:

1. Whoever claims the Issue first, **should** send a Pull Request within 24 hours else it'll be assigned to another claimant and further Pull Requests regarding that issue will not be entertained.
2. Pull Requests sent without **claiming** and referencing the Issue

[2016-10-23 18:15] salman-bhai opened #51 "Add Insertion Sort for the following languages"
The following Algorithm needs to be implemented in the following languages.
- [x] C
- [x] C++
- [x] Python
- [x] Java

Ground rules:

1. Whoever claims the Issue first, **should** send a Pull Request within 24 hours else it'll be assigned to another claimant and further Pull Requests regarding that issue will not be entertained.
2. Pull Requests sent without **claiming** and referencing the Issue

[2016-10-23 18:15] shrawnz commented on #42
Can I take up C++?

[2016-10-23 18:16] salman-bhai opened #52 "Add Merge Sort for the following Algorithms"
The following Algorithm needs to be implemented in the following languages.
- [x] C
- [x] C++
- [x] Python
- [x] Java

Ground rules:

1. Whoever claims the Issue first, **should** send a Pull Request within 24 hours else it'll be assigned to another claimant and further Pull Requests regarding that issue will not be entertained.
2. Pull Requests sent without **claiming** and referencing the Issue

[2016-10-23 18:17] salman-bhai opened #53 "Add Quick Sort for the following Languages"
The following Algorithm needs to be implemented in the following languages.
- [x] C
- [x] C++
- [x] Python
- [x] Java

Ground rules:

1. Whoever claims the Issue first, **should** send a Pull Request within 24 hours else it'll be assigned to another claimant and further Pull Requests regarding that issue will not be entertained.
2. Pull Requests sent without **claiming** and referencing the Issue

[2016-10-23 18:17] salman-bhai opened #54 "Add Radix Sort for the following Languages"
The following Algorithm needs to be implemented in the following languages.
- [x] C
- [x] C++
- [x] Python
- [x] Java

Ground rules:

1. Whoever claims the Issue first, **should** send a Pull Request within 24 hours else it'll be assigned to another claimant and further Pull Requests regarding that issue will not be entertained.
2. Pull Requests sent without **claiming** and referencing the Issue

[2016-10-23 18:18] salman-bhai opened #55 "Add Selection-Sort for the following languages"
The following Algorithm needs to be implemented in the following languages.
- [x] C
- [x] C++
- [x] Python
- [x] Java

Ground rules:

1. Whoever claims the Issue first, **should** send a Pull Request within 24 hours else it'll be assigned to another claimant and further Pull Requests regarding that issue will not be entertained.
2. Pull Requests sent without **claiming** and referencing the Issue

[2016-10-23 18:19] salman-bhai opened #56 "Add Shell-Sort for the following languages"
The following Algorithm needs to be implemented in the following languages.
- [x] C
- [x] C++
- [x] Python
- [x] Java

Ground rules:

1. Whoever claims the Issue first, **should** send a Pull Request within 24 hours else it'll be assigned to another claimant and further Pull Requests regarding that issue will not be entertained.
2. Pull Requests sent without **claiming** and referencing the Issue

[2016-10-23 18:20] salman-bhai opened #57 "Add Topological Sort for the following languages"
The following Algorithm needs to be implemented in the following languages.
- [x] C
- [x] C++
- [x] Python
- [x] Java

Ground rules:
1. Whoever claims the Issue first, **should** send a Pull Request within 24 hours else it'll be assigned to another claimant and further Pull Requests regarding that issue will not be entertained.
2. Pull Requests sent without **claiming** and referencing the Issue w

[2016-10-23 18:20] salman-bhai opened #58 "Add Tree Sort for the following languages"
The following Algorithm needs to be implemented in the following languages.
- [x] C
- [x] C++
- [x] Python
- [x] Java

Ground rules:
1. Whoever claims the Issue first, **should** send a Pull Request within 24 hours else it'll be assigned to another claimant and further Pull Requests regarding that issue will not be entertained.
2. Pull Requests sent without **claiming** and referencing the Issue w

[2016-10-23 18:23] salman-bhai commented on #4
Issue has been created separately in the `Issues` tab. Kindly take a look!

[2016-10-23 18:23] #4 closed

[2016-10-23 18:23] salman-bhai commented on #9
Issue has been created separately in the `Issues` tab. Kindly take a look!

[2016-10-23 18:23] #9 closed

[2016-10-23 18:23] salman-bhai commented on #17
Issue has been created separately in the `Issues` tab. Kindly take a look!

[2016-10-23 18:23] #17 closed

[2016-10-23 18:23] salman-bhai commented on #18
Issue has been created separately in the `Issues` tab. Kindly take a look!

[2016-10-23 18:23] #18 closed

[2016-10-23 18:32] zorroblue commented on #57
I want to work on this issue @salman-bhai

[2016-10-23 18:44] shrawnz commented on #48
Claiming C

[2016-10-23 18:45] shrawnz commented on #48
Claiming c++

[2016-10-23 18:49] vidhan13j07 commented on #55
I'll implement selection sort in C.

[2016-10-23 18:55] BrunoTissei commented on #53
I'll work on the C version.

[2016-10-23 18:56] salman-bhai commented on #16
Issue has been created separately in the `Issues` tab. Kindly take a look!

[2016-10-23 18:56] #16 closed

[2016-10-23 19:05] shrawnz commented on #48
How and where should I push the code file?

[2016-10-23 19:10] salman-bhai opened #61 "Add Disjoint Sets for the following languages"
The following Data Structure needs to be implemented in the following languages.
- [x] C
- [x] C++
- [x] Python
- [x] Java

Ground rules:

1. Whoever claims the Issue first, **should** send a Pull Request within 24 hours else it'll be assigned to another claimant and further Pull Requests regarding that issue will not be entertained.
2. Pull Requests sent without **claiming** and referencing the I

[2016-10-23 19:11] salman-bhai opened #62 "Add Singly Linked List in the following languages"
The following Data Structure needs to be implemented in the following languages.
- [x] C
- [x] C++
- [x] Python
- [x] Java

Ground rules:

1. Whoever claims the Issue first, **should** send a Pull Request within 24 hours else it'll be assigned to another claimant and further Pull Requests regarding that issue will not be entertained.
2. Pull Requests sent without **claiming** and referencing the I

[2016-10-23 19:12] salman-bhai opened #63 "Add Doubly Linked List in the following languages"
The following Data Structure needs to be implemented in the following languages.
- [x] C
- [x] C++
- [x] Python
- [x] Java

Ground rules:

1. Whoever claims the Issue first, **should** send a Pull Request within 24 hours else it'll be assigned to another claimant and further Pull Requests regarding that issue will not be entertained.
2. Pull Requests sent without **claiming** and referencing the I

[2016-10-23 19:13] menikhilpandey commented on #53
Hi @salman-bhai I wish to claim python version of quick sort for implementation.

[2016-10-23 19:13] salman-bhai opened #64 "Add Circular Linked List for various languages"
The following Data Structure needs to be implemented in the following languages.
- [x] C
- [x] C++
- [x] Python
- [x] Java

Ground rules:

1. Whoever claims the Issue first, **should** send a Pull Request within 24 hours else it'll be assigned to another claimant and further Pull Requests regarding that issue will not be entertained.
2. Pull Requests sent without **claiming** and referencing the I

[2016-10-23 19:14] nikitakorba commented on #53
I'd like to take C++ Quick Sort

[2016-10-23 19:15] salman-bhai opened #65 "Add AVL Trees in various languages"
The following Data Structure needs to be implemented in the following languages.
- [x] C
- [x] C++
- [x] Python
- [x] Java

Ground rules:
1. Whoever claims the Issue first, **should** send a Pull Request within 24 hours else it'll be assigned to another claimant and further Pull Requests regarding that issue will not be entertained.
2. Pull Requests sent without **claiming** and referencing the Is

[2016-10-23 19:15] salman-bhai opened #66 "Add Binary Search Trees in various languages"
The following Data Structure needs to be implemented in the following languages.
- [x] C
- [x] C++
- [x] Python
- [x] Java

Ground rules:

1. Whoever claims the Issue first, **should** send a Pull Request within 24 hours else it'll be assigned to another claimant and further Pull Requests regarding that issue will not be entertained.
2. Pull Requests sent without **claiming** and referencing the I

[2016-10-23 19:16] salman-bhai opened #67 "Add Binary Trees in the following languages"
The following Data Structure needs to be implemented in the following languages.
- [x] C
- [x] C++
- [x] Python
- [x] Java

Ground rules:

1. Whoever claims the Issue first, **should** send a Pull Request within 24 hours else it'll be assigned to another claimant and further Pull Requests regarding that issue will not be entertained.
2. Pull Requests sent without **claiming** and referencing the I

[2016-10-23 19:17] salman-bhai opened #68 "Add Tries Data Structure in the following languages"
The following Data Structure needs to be implemented in the following languages.
- [x] C
- [x] C++
- [x] Python
- [x] Java

Ground rules:

1. Whoever claims the Issue first, **should** send a Pull Request within 24 hours else it'll be assigned to another claimant and further Pull Requests regarding that issue will not be entertained.
2. Pull Requests sent without **claiming** and referencing the I

[2016-10-23 19:19] salman-bhai commented on #48
Push your code [here](https://github.com/salman-bhai/DA_A_DS/tree/master/Algorithms/Sort_Algorithms/Bubble_Sort).
Check [here](https://github.com/salman-bhai/DA_A_DS/blob/master/CONTRIBUTING.md) as to how to contribute.

Best of luck!

[2016-10-23 19:20] salman-bhai commented on #53
Go ahead! @menikhilpandey @nikitakorba

[2016-10-23 19:31] salman-bhai opened #73 "Add README for Data Structures"
Hey! Looks like you're on your way to your **First Pull Request**. You don't even need to write a single line of code for this!

Welcome to the **Hacktoberfest**! :smile: This is a First-Timer Issue to increase your confidence in the field of Open-Source. All you have to do is send a Pull Request (Click [here](https://github.com/salman-bhai/DA_A_DS/blob/master/CONTRIBUTING.md) to see how to send a

[2016-10-23 19:34] nikitakorba commented on #50
Claiming C++

[2016-10-23 19:37] salman-bhai opened #74 "Add README for Sorting Algorithms"
Hey! Looks like you're on your way to your **First Pull Request**. You don't even need to write a single line of code for this!

Welcome to the **Hacktoberfest**! :smile: This is a First-Timer Issue to increase your confidence in the field of Open-Source. All you have to do is send a Pull Request (Click [here](https://github.com/salman-bhai/DA_A_DS/blob/master/CONTRIBUTING.md) to see how to send a

[2016-10-23 19:39] salman-bhai opened #75 "Add README for Search Algorithms"
Hey! Looks like you're on your way to your **First Pull Request**. You don't even need to write a single line of code for this!

Welcome to the **Hacktoberfest**! :smile: This is a First-Timer Issue to increase your confidence in the field of Open-Source. All you have to do is send a Pull Request (Click [here](https://github.com/salman-bhai/DA_A_DS/blob/master/CONTRIBUTING.md) to see how to send a

[2016-10-23 19:40] mlterpstra92 commented on #53
I'd like to implement the Java version

[2016-10-23 19:40] #15 closed

[2016-10-23 19:41] mlterpstra92 commented on #74
Hi, I'd like to claim this one

[2016-10-23 19:41] mlterpstra92 commented on #73
Hi, can I claim this one?

[2016-10-23 19:41] salman-bhai commented on #14
Hey, I've made separate Issues for this. Kindly check the `Issues` tab for more details!

[2016-10-23 19:41] #14 closed

[2016-10-23 19:42] salman-bhai commented on #73
Which Data Structure, @mlterpstra92

[2016-10-23 19:42] salman-bhai commented on #74
Which Sorting Algorithm, @mlterpstra92 ?

[2016-10-23 19:43] salman-bhai commented on #53
Hey Kindly check the new Issues Tab which I've created!

[2016-10-23 19:43] salman-bhai commented on #50
Go ahead, @nikitakorba !

[2016-10-23 19:44] mlterpstra92 commented on #73
I can explain the AVL tree :-)

[2016-10-23 19:48] salman-bhai opened #76 "Add README for Graph Algorithms"
Hey! Looks like you're on your way to your **First Pull Request**. You don't even need to write a single line of code for this!

Welcome to the **Hacktoberfest**! :smile: This is a First-Timer Issue to increase your confidence in the field of Open-Source. All you have to do is send a Pull Request (Click [here](https://github.com/salman-bhai/DA_A_DS/blob/master/CONTRIBUTING.md) to see how to send a

[2016-10-23 19:51] menikhilpandey commented on #49
@salman-bhai I am claiming Bucket Sort in Python.

[2016-10-23 19:51] menikhilpandey commented on #54
@salman-bhai I am claiming Radix Sort in Python.

[2016-10-23 19:55] nikitakorba commented on #51
Claiming C++

[2016-10-23 19:57] Prernajain2 commented on #74
hi, I would like to claim selection sort

[2016-10-23 20:00] Prernajain2 commented on #75
Hi i would like to claim this one

[2016-10-23 20:02] salman-bhai commented on #75
Which Search Algorithm, @Prernajain2 ?

[2016-10-23 20:06] shrawnz commented on #55
Doing it in Java

[2016-10-23 20:09] salman-bhai commented on #53
Hey, @mlterpstra92 Go ahead! I'm sorry for the confusion!

[2016-10-23 20:15] Prernajain2 commented on #75
Linear

[2016-10-23 20:33] gneukum1 commented on #48
Do you mind if I do the Java implementation?

[2016-10-23 21:40] BrunoTissei commented on #65
I'll work on the C version.

[2016-10-24 00:20] #73 closed

[2016-10-24 00:21] #53 closed

[2016-10-24 00:23] #48 closed

[2016-10-24 00:24] #55 closed

[2016-10-24 00:24] salman-bhai commented on #75
Go ahead, @Prernajain2

[2016-10-24 00:42] alinarezrangel commented on #63
Hi @salman-bhai, I will work on the C++ version, but I have a question: Is required to use the C++ STL?

[2016-10-24 04:31] #49 closed

[2016-10-24 04:33] salman-bhai commented on #63
Preferably, don't use STL, @alinarezrangel !

[2016-10-24 05:13] jainayush975 commented on #66
claim to add binary search tree in python

[2016-10-24 06:39] #62 closed

[2016-10-24 07:22] alexkiura commented on #67
@salman-bhai I'd like to implement Binary Trees in python.

[2016-10-24 08:11] salman-bhai commented on #67
Go ahead, @alexkiura

[2016-10-24 11:25] Jedian commented on #47
I would like to work on the C++ version.

[2016-10-24 11:27] Jedian commented on #46
I would like to work on the C++ version.

[2016-10-24 11:42] laps15 commented on #43
I'll do the c++ one

[2016-10-24 11:47] salman-bhai commented on #43
Closed!

[2016-10-24 11:47] #43 closed

[2016-10-24 12:09] laps15 commented on #52
Claiming C++

[2016-10-24 13:36] mlterpstra92 commented on #65
Hi, I'll work on the python version

[2016-10-24 13:42] #52 closed

[2016-10-24 13:44] salman-bhai commented on #65
Go ahead, @mlterpstra92

[2016-10-24 15:29] alexkiura commented on #67
Cool. PR coming up soon @salman-bhai

[2016-10-24 15:34] alumyen commented on #54
@salman-bhai I would like to do the implementation in C++

[2016-10-24 18:48] laps15 commented on #42
I'll take c++, hence it's been a day

[2016-10-24 18:49] laps15 commented on #42
Taking C++

[2016-10-24 20:22] alinarezrangel commented on #64
Hi @salman-bhai , I can implement this task in C++

[2016-10-24 21:13] amanmehta-maniac commented on #76
I claim to work on this issue.

[2016-10-24 21:43] amanmehta-maniac commented on #76
I have updated the README file for BFS. Please review my PR. I will continue in the same way of explanation if this PR looks fine to you. Waiting for your reply. Thanks :)

[2016-10-24 21:48] amanmehta-maniac commented on #75
I would like to work for this issue. Can I get this? Thanks

[2016-10-24 22:03] amanmehta-maniac commented on #44
Claiming C.

[2016-10-24 22:03] amanmehta-maniac commented on #42
Can I claim for C?

[2016-10-24 22:05] amanmehta-maniac commented on #57
I would like to solve for C language.

[2016-10-25 04:45] salman-bhai commented on #76
Go ahead for the others @amanmehta-maniac

[2016-10-25 04:48] salman-bhai commented on #74
Go ahead people!

[2016-10-25 04:48] salman-bhai commented on #44
Go ahead people! Just don't forget to reference the Issue!

[2016-10-25 04:50] salman-bhai commented on #75
You can work on Binary Search, @amanmehta-maniac . If @Prernajain2 doesnt send a PR in 12 hours you can send a PR for Linear Search as well.

[2016-10-25 04:51] salman-bhai commented on #64
Go ahead!

[2016-10-25 05:15] ShreyaSa commented on #74
Hi @salman-bhai
I would like to claim Bucket Sort Algorithm.
Thanks :)

[2016-10-25 05:19] shubham-k7 commented on #63
can i claim the code for C?

[2016-10-25 05:22] shubham-k7 commented on #50
can i claim for C?

[2016-10-25 05:41] #42 closed

[2016-10-25 05:42] salman-bhai commented on #50
Go ahead, @shubham-k7

[2016-10-25 05:44] salman-bhai commented on #63
It's done already. Check the description.

[2016-10-25 05:45] salman-bhai commented on #74
Go ahead, @ShreyaSa

[2016-10-25 06:14] NikhilGogate13 commented on #46
I would like to work on C version.

[2016-10-25 06:29] NikhilGogate13 commented on #61
I would do tree implementation of disjoint sets(Having Different forest as set) in C.

[2016-10-25 07:59] salman-bhai opened #103 "Add Bellman Ford ALgorithm for the following Languages"
The following Algorithm needs to be implemented in the following languages.
- [x] C
- [x] C++
- [x] Python
- [x] Java

Ground rules:

1. Whoever claims the Issue first, **should** send a Pull Request within 24 hours else it'll be assigned to another claimant and further Pull Requests regarding that issue will not be entertained.
2. Pull Requests sent without **claiming** and referencing the Issue

[2016-10-25 08:03] amanmehta-maniac commented on #76
Ok, I'm on it. Can you please assign this issue to me?

[2016-10-25 08:06] salman-bhai commented on #76
Just mention what all you are working on is enough!

[2016-10-25 08:13] amanmehta-maniac commented on #76
DFS, Dijkstra, Prim's, Kruskal as of now.

[2016-10-25 10:14] op01 commented on #103
I would like to work on this

[2016-10-25 13:21] aswin6197 commented on #64
I will implement in C

[2016-10-25 13:52] NikhilGogate13 commented on #45
Doing Floyd-Warshall's Algorithm in cpp.

[2016-10-25 14:13] MayankTripathi01 commented on #58
tree sort algorithm means which one

[2016-10-25 14:22] salman-bhai commented on #45
Go ahead!

[2016-10-25 14:22] salman-bhai commented on #64
Go ahead!

[2016-10-25 15:09] laps15 commented on #44
Claiming C++

[2016-10-25 16:44] Arunraj97 commented on #66
claim to add bst in C

[2016-10-25 16:49] Arunraj97 commented on #56
I would like to claim for this in C

[2016-10-25 17:04] Arunraj97 commented on #74
Hi I would like to claim Merge Sort

[2016-10-25 17:18] yash1401 opened #112 "Quick sort in java"

[2016-10-25 17:48] aryanhimanshu commented on #75
Hey!
I would like to claim linear search.

[2016-10-25 17:49] aryanhimanshu commented on #74
Hi
I would like to claim bubble sort and insertion sort.

[2016-10-25 18:08] TuhinKundu commented on #44
Claiming python!

[2016-10-25 19:53] amanmehta-maniac commented on #75
I have created a new PR for binary search.

[2016-10-25 19:58] NikhilGogate13 commented on #61
After acceptance of this pull request shouldn't I should be in contributers.My name is not on contributers page.

[2016-10-26 04:45] alumyen commented on #103
I could do its implementation in Java

[2016-10-26 06:28] patniharshit commented on #61
I would like to contribute C++ implementation of Disjoint-Sets.

[2016-10-26 06:39] Ashiiit commented on #76
I am working on README of Kruskal MST.

[2016-10-26 06:43] bashtech123 commented on #103
#118 i have implemented in c
`

[2016-10-26 06:54] patniharshit commented on #47
I would like to contribute an implementation of Prims algorithm in C.

[2016-10-26 06:54] bashtech123 commented on #65
i have worked on c #118

[2016-10-26 07:06] pranavgoel25 commented on #74
I would like to claim for Heap Sort

[2016-10-26 07:11] shiva1208 commented on #64
I want to claim for C.

[2016-10-26 07:15] bashtech123 commented on #66
#118 bst c++

[2016-10-26 07:29] shiva1208 commented on #112
I want to claim.

[2016-10-26 07:30] shiva1208 commented on #67
I want to claim using C.

[2016-10-26 07:50] pranavgoel25 commented on #74
commit 4c52c72b3a38ee168dd037dfbd4f6d2d94654d84

[2016-10-26 07:54] pranavgoel25 commented on #74
4c52c72b3a38ee168dd037dfbd4f6d2d94654d84

[2016-10-26 09:20] sks9919 commented on #74
I would like to claim for Quick sort.

[2016-10-26 09:39] MayankTripathi01 commented on #103
i can work on python verson

[2016-10-26 09:44] patniharshit commented on #45
I will do it in Java.

[2016-10-26 10:12] ashish3112 commented on #76
Hi I would like to claim for Dijkstra's Algorithm.

[2016-10-26 12:29] bashtech123 commented on #57
i want to work for c++

[2016-10-26 12:32] bashtech123 commented on #74
i would like to claim for selection sort

[2016-10-26 15:42] ashwinpathak20 commented on #74
i would like to claim radix sort

[2016-10-26 15:56] ashwinpathak20 commented on #47
i would like to claim for prims algorithm in c++

[2016-10-26 16:13] ashwinpathak20 commented on #76
i claim for bellman ford's algorithm

[2016-10-26 16:33] noveens commented on #46
I have started working on the JAVA version.

[2016-10-26 16:39] ashwinpathak20 commented on #76
i am working on readme for floyd-warshall's algorithm

[2016-10-26 16:42] noveens commented on #45
Doing Floyd-Warshall's Algorithm in python.

[2016-10-26 16:50] noveens commented on #44
Claiming Java.

[2016-10-26 16:52] amanshahi commented on #65
I will implement in java

[2016-10-26 16:54] noveens commented on #47
Taking this up in Java.

[2016-10-26 16:59] Viditjn commented on #58
Claim to work on C using binary tree.

[2016-10-26 17:00] amanshahi commented on #66
I'am implementing in java .

[2016-10-26 17:01] amanshahi commented on #103
Started implementing in cpp.

[2016-10-26 17:02] amanshahi commented on #65
I will implement in java

[2016-10-26 17:06] amanshahi commented on #56
I'am doing in python.

[2016-10-26 17:07] noveens commented on #54
Claiming in C.

[2016-10-26 17:20] shrawnz commented on #63
Claiming c++

[2016-10-26 17:27] Viditjn commented on #50
Claim to work in java

[2016-10-26 17:28] shrawnz commented on #67
Claiming c++

[2016-10-26 17:44] rit7897 commented on #68
taking up in java.

[2016-10-26 17:44] amanshahi commented on #68
Implemented in cpp.

[2016-10-26 17:46] amanshahi commented on #50
Doing in py.

[2016-10-26 17:47] rit7897 commented on #68
taking up in c.

[2016-10-26 17:51] Viditjn commented on #74
I claim for tree sort

[2016-10-26 17:52] rit7897 commented on #64
i will implement in java.

[2016-10-26 17:55] a-lakh commented on #63
doing it injava

[2016-10-26 17:55] Viditjn commented on #63
I claim for java

[2016-10-26 17:56] Viditjn commented on #57
I claim for python

[2016-10-26 17:56] rit7897 commented on #64
i will implement in python.

[2016-10-26 18:01] rit7897 commented on #67
i am implementing in java.

[2016-10-26 19:41] shiva1208 commented on #63
I want to claim for c.

[2016-10-26 19:50] shiva1208 commented on #54
want to claim in C

[2016-10-27 16:26] Bargsteen commented on #46
I would like to work on the Python version.

[2016-10-27 16:29] Bargsteen commented on #76
I would like to work on the Kruskal's or Prim's - dependent on which one isn't being worked on already. I can do both, if needed :)

[2016-10-27 16:34] Bargsteen commented on #74
I would like to claim Bubble sort

[2016-10-27 17:23] Bargsteen commented on #63
I would like to claim in Java

[2016-10-27 17:24] Bargsteen commented on #75
I would like to claim Linear Search

[2016-10-28 07:41] aswin6197 commented on #47
i will try with C

[2016-10-28 09:53] NakulVaidya commented on #46
I would like to work on python version.

[2016-10-28 10:06] Akshaj5 commented on #68
claiming for python

[2016-10-28 10:32] NakulVaidya commented on #50
as viditjn is unable to do a pull request . I would like to do it in java.

[2016-10-28 10:35] Akshaj5 commented on #58
Claiming tree sort in python

[2016-10-28 10:37] NakulVaidya commented on #57
as viditjn is unable to make a pull request. I am claiming for python.

[2016-10-28 11:00] Akshaj5 commented on #58
Claiming tree sort in java

[2016-10-28 12:28] pprintz commented on #74
I would like to claim heapsort, mergesort, quicksort, bubble or insertion sort !

[2016-10-28 12:28] pprintz commented on #75
I would like to claim linear or binary search

[2016-10-28 12:59] Akshaj5 commented on #44
Claiming C
As amanmehta-maniac did not send any pull request.

[2016-10-28 13:49] NakulVaidya commented on #61
I would like to contribute java implementation of disjoint-sets.

[2016-10-28 17:15] Akshaj5 commented on #61
I would like to contribute python implementation of Disjoint-sets.

[2016-10-28 21:38] yash-iiith commented on #63
I would like to claim in Python.

[2016-10-28 21:45] yash-iiith commented on #45
Claiming in C

[2016-10-28 21:54] yash-iiith commented on #51
Claiming in C

[2016-10-29 03:40] #66 closed

[2016-10-29 03:41] #56 closed

[2016-10-29 03:41] #54 closed

[2016-10-29 03:42] #51 closed

[2016-10-29 03:58] #64 closed

[2016-10-29 04:02] #46 closed

[2016-10-29 04:02] #68 closed

[2016-10-29 04:03] #50 closed

[2016-10-29 04:05] #103 closed

[2016-10-29 04:06] #61 closed

[2016-10-29 04:11] salman-bhai commented on #112
The Algorithm has already been submitted. Please check the repository and the create Issues!

[2016-10-29 04:11] #112 closed

[2016-10-30 02:30] Radhikadua123 commented on #75
Hey!
I  would like to claim linear or binary search.Can i get any of these? Thanks

[2016-10-30 04:23] salman-bhai commented on #75
Linear Search is remaining!

[2016-10-30 04:23] #44 closed

[2016-10-30 04:32] menikhilpandey opened #176 "Suggestions to make a Better Resource"
Hi @salman-bhai
I have some suggestions to improve the reach and usefulness of this repository as this concept is extremely supportive for competitive programmers and is helpful resource for ACM ICPC aspirants, but due to its name, many aspirants might not find this repository on first go.

I would like to suggest some names for the repository. Please rename the repository to something more releva

[2016-10-30 05:11] pranavgoel25 commented on #75
I would like to claim linear search.

[2016-10-30 05:19] pranavgoel25 commented on #74
I would like to claim for Bubble Sort

[2016-10-30 05:25] Radhikadua123 commented on #75
I would like to claim linear search.Can i work on it?

[2016-10-30 05:27] pranavgoel25 commented on #74
I would like to claim for Shell Sort

[2016-10-30 05:29] pranavgoel25 commented on #58
Claiming in C

[2016-10-30 05:59] pranavgoel25 commented on #63
I would like to claim for Java

[2016-10-30 06:45] pranavgoel25 commented on #75
https://github.com/salman-bhai/DA_A_DS/pull/177

[2016-10-30 08:16] #75 closed

[2016-10-30 09:16] Radhikadua123 commented on #74
Hey! I would like to claim for insertion sort

[2016-10-30 09:32] #63 closed

[2016-10-30 09:37] Radhikadua123 commented on #74
Hey! I did insertion sort. Can you please help me where i have to push?Thanks

[2016-10-30 09:38] salman-bhai commented on #176
Hey, so I thin the second option is a really good idea!
DS-Algo-Handbook
I do agree that the repository lab_assignments is useful now and I'll remove it as soon as possible. Apart from this I suggest you start creating Issues as to what else do you think would be ideal for ACM-ICPC Preparation. The link that you have sent is an excellent resource, something that we could add in the README of this

[2016-10-30 13:34] Radhikadua123 commented on #74
Hey! Please see commit  #181. Tkanks

[2016-10-30 13:35] Radhikadua123 commented on #74
Hey! Please see commit #181 .Thanks

[2016-10-30 16:47] salman-bhai commented on #58
Go ahead @pranavgoel25

[2016-10-30 16:48] #67 closed

[2016-10-30 17:14] Radhikadua123 commented on #74
Hey! I would like to claim merge sort.

[2016-10-30 19:05] Radhikadua123 commented on #74
Hey! Please see commit #183 .Thanks

[2016-10-30 19:29] akshatgoel commented on #45
Since @patniharshit was not able to take it up, I have raised the PR.

[2016-10-30 19:41] Radhikadua123 commented on #74
Hey! I would like to claim quick sort.

[2016-10-31 06:23] #45 closed

[2016-10-31 06:25] #57 closed

[2016-10-31 06:26] #58 closed

[2016-10-31 06:26] salman-bhai commented on #74
Hey kindly change commit #183 according to how mentioned @Radhikadua123

[2016-10-31 08:00] Radhikadua123 commented on #74
Hey! Please see commit #186 .

[2016-10-31 08:15] menikhilpandey commented on #176
Sure! I would love to keep contributing to this repository. Please take actions to change the name of this repository to new name.
Thanks!

[2016-10-31 09:43] pranavgoel25 commented on #47
I claim this in C

[2016-10-31 11:07] #47 closed

[2016-10-31 11:08] salman-bhai commented on #176
Keep the Issue open for others to put in their suggestions as well!

[2016-10-31 11:09] #65 closed

[2016-10-31 13:02] akshatgoel commented on #76
Taken up Kruskal Algo since there was no update from few days.

[2016-10-31 13:07] g-akash commented on #74
I wish to claim topological sort.

[2016-10-31 13:37] akshatgoel commented on #74
Claimed Tree sort since there was no update.

[2016-11-01 02:38] alexkiura opened #191 "Add unit tests for the Data Structures and algorithms"
Hi @salman-bhai, I think it would be important to have unit tests for each of the data structure and algorithm implementations.

This would help improve the quality of the implementations since it would ensure the implementations actually work in the respective languages.

[2016-11-01 07:01] salman-bhai commented on #191
Go ahead, @alexkiura . Send in a Pull Request!

[2016-11-01 07:32] alexkiura commented on #191
Submitted one for the python Stack data structure.

[2016-11-03 15:11] #74 closed

[2016-11-03 17:23] #76 closed

[2016-12-22 08:35] salman-bhai commented on #176
Check out this link for Dynamic Programming Problems. Click [here](http://www.geeksforgeeks.org/dynamic-programming-set-1/)